services:
  webserver:
    volumes:
      - minitwit-db-test:/tmp

  tests:
    image: python:3.12-slim
    depends_on:
      webserver:
        condition: service_healthy
    working_dir: /work
    volumes:
      - .:/work
      - minitwit-db-test:/tmp
    environment:
      - BASE_URL=http://webserver:8080
    command: sh -c "pip install -r requirements.txt && pytest python-references/minitwit_sim_api_test.py -v"

volumes:
  minitwit-db-test: